body {
  background-color: #E7DFD8;
  margin: 0;
}

nav {
  background-color: inherit;
  height: 50px;
  width: 100%;
  position: static;
  top: 0%;
  font-weight: bold;
  margin-top: 5%;

  display: flex;
  flex: row;
  justify-content: center;
  list-style: none;
  gap: 20%;
}

a {
  text-decoration: none;
  font-family:"Times New Roman";
  font-size:large;
} 

 .nav-link {
  color:black; 
}

.nav-link:hover {
  /* color: crimson; */
  text-decoration-line: underline;
}

.my-friends-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-friends-container {
  width: 90%;
  border: 1px solid black;  
  margin-top: 2.5%;
  margin-bottom: 2.5%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  aspect-ratio: 1;
  align-self: center;
}

.my-profile-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-profile-container {
  width: 90%;
  border: 1px solid black;  
  margin-top: 2.5%;
  margin-bottom: 2.5%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  aspect-ratio: 1;
  align-self: center;
}

.my-entries-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-entries-container {
  width: 90%;
  border: 1px solid black;  
  margin-top: 2.5%;
  margin-bottom: 2.5%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  aspect-ratio: 1;
  align-self: center;
}

.new-entry-button-container {
  width: 90%;

  display: flex;
  align-self: center;
  justify-self: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}

.new-entry-button{
  background-color: #E7DFD8;
  color: black;
  font-size:120%;
  border-radius: 40px;
  outline: none;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 2px black; 
  font-family:"Times New Roman";
  padding: 4px 15px;
}
.new-entry-button:hover {
  background-color: #d1c1b4;
}
.new-entry-button:active {
  background-color: #E7DFD8;
  /* box-shadow: inset 0 0 0 2px #d1c1b4;  */
}